header.masthead {
    position: relative;
    background: #343a40 url("https://via.placeholder.com/350x150") no-repeat top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
}

header.masthead .textbox-container {
    background-color: rgba(30, 30, 30, 0.2);
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 1rem;
        padding-bottom: 12rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}
