# Configuration files
.env
/deploy/.env*
/deploy/.deployment-key*
/Makefile
/inventory.yml

# Database
db.sqlite3

# Python environments and run time
/env
/venv
*.pyc
__pycache__/

# Editor settings
.idea/

# Local deployment
.vagrant/
playbook.retry
ubuntu-bionic-18.04-cloudimg-console.log
/static/
/whoosh_index/

# Documentation
/docs/build/
/docs/source/apidoc/

# Notes
/data/
/notes/

# Experimental
/applications/connectors/
