# Configuration files
.env
/Makefile
/staging.yml
/production.yml

# Database
db.sqlite3

# Python environments and run time
/env
/venv
*.pyc
__pycache__/
/report.html
/*.log

# Javascript environment
node_modules/
package.json
package-lock.json

# Editor settings
.idea/
.vscode/

# Local deployment
.vagrant/
playbook.retry
ubuntu-bionic-18.04-cloudimg-console.log
/static/
/whoosh_index/
/cache/
/mail/

# Documentation
/docs/build/
/docs/source/apidoc/

# Notes
/data/
/notes/

# Experimental
/applications/connectors/
