{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'applications:application.list' %}">Applications</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'applications:application.detail' pk=application.pk %}">{{ application.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Delete
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-10 col-sm-8">
            <h2>{{ application.name }}</h2>

            {% if application.description %}
                {{ application.description|linebreaks }}
            {% endif %}
        </div>
    </div>

    <table class="table">
        <thead>
            <th scope="col" class="w-25 border-0"></th>
            <th scope="col" class="border-0"></th>
        </thead>

        <tbody>
            <tr>
                <td>Owner</td>
                <td>
                    {{ application.owner }}
                </td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{ application.url }}</td>
            </tr>
            {% if api_key %}
                <tr>
                    <td>API Key</td>
                    <td>{{ api_key }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="alert alert-danger">
        <p><b>Are you sure you want to delete this application?</b></p>

        <form class="form" method="post">
            {% csrf_token %}

            <input type="submit" role="button" class="btn btn-danger" value="Delete">

            <a role="button" class="btn btn-info"
               href="{% url 'applications:application.detail' pk=application.pk %}">Cancel</a>
        </form>
    </div>
{% endblock %}