{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'applications:application.list' %}">Applications</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ application.name }}
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-10 col-sm-8">
            <h2>{{ application.name }}</h2>

            {% if application.description %}
                {{ application.description|linebreaks }}
            {% endif %}
        </div>

        <div class="col-md-2 col-sm-4">
            {% if application.access_control %}
                <a href="{% url 'applications:application.manage-access' pk=application.pk %}"
                   class="btn btn-block btn-primary" role="button">Manage Access</a>
            {% endif %}

            {% if has_edit_permission %}
                <a href="{% url 'applications:application.edit' pk=application.pk %}"
                   class="btn btn-block btn-success" role="button">Edit</a>

                <a href="{% url 'applications:application.delete' pk=application.pk %}"
                   class="btn btn-block btn-danger" role="button">Delete</a>
            {% endif %}
        </div>
    </div>

    <table class="table">
        <thead>
            <th scope="col" class="w-25 border-0"></th>
            <th scope="col" class="border-0"></th>
        </thead>

        <tbody>
            <tr>
                <td>Owner</td>
                <td>
                    {{ application.owner }}
                </td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{ application.url|default:'No URL provided' }}</td>
            </tr>
            {% if has_edit_permission %}
                <tr>
                    <td>API Key</td>
                    <td>
                        <span id="spanApiToken">
                            {% if application.proxy_user.auth_token %}
                                <script type="application/javascript">
                                    function revokeToken() {
                                        $.ajax({
                                            dataType: "json",
                                            url: "{% url 'applications:token' pk=application.pk %}",
                                            method: "DELETE",
                                            headers: {
                                                "X-CSRFToken": Cookies.get("csrftoken")
                                            },
                                            data: null,
                                            success: function (data) {
                                                $('#spanApiToken').text("");
                                            }
                                        });
                                    }
                                </script>

                                {{ application.proxy_user.auth_token }}

                                <button onclick="revokeToken();" class="btn btn-danger" role="button">Revoke API Token</button>

                            {% else %}
                                <script type="application/javascript">
                                    function getToken() {
                                        $.ajax({
                                            dataType: "json",
                                            url: "{% url 'applications:token' pk=application.pk %}",
                                            data: null,
                                            success: function (data) {
                                                $('#spanApiToken').text(data.data.token.key);
                                            }
                                        });
                                    }
                                </script>

                                <button onclick="getToken();" class="btn btn-default" role="button">Generate an API Token</button>
                            {% endif %}
                        </span>

                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if application.url %}
        <div class="row justify-content-center pt-5">
            <div class="col-4">
                <script type="application/javascript">
                    function launchApp() {
                        const win = window.open("{{ application.url }}", "_blank");
                        win.focus();
                    }
                </script>

                <button role="button" onclick="launchApp();" class="btn btn-info btn-lg btn-block">Launch App</button>
            </div>
        </div>
    {% endif %}

{% endblock %}