{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'applications:application.list' %}">Applications</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ application.name }}
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-10 col-sm-8">
            <h2>{{ application.name }}</h2>

            {% if application.description %}
                {{ application.description|linebreaks }}
            {% endif %}
        </div>

        <div class="col-md-2 col-sm-4">
            {% if application.access_control %}
                <a href="{% url 'applications:application.manage-access' pk=application.pk %}"
                   class="btn btn-block btn-primary" role="button">Manage Access</a>
            {% endif %}

            {% if has_edit_permission %}
                <a href="{% url 'admin:applications_application_change' application.id %}"
                   class="btn btn-block btn-success" role="button">Edit</a>

                <a href="{% url 'admin:applications_application_delete' application.id %}"
                   class="btn btn-block btn-danger" role="button">Delete</a>
            {% endif %}
        </div>
    </div>

    <table class="table">
        <thead>
            <th scope="col" class="w-25 border-0"></th>
            <th scope="col" class="border-0"></th>
        </thead>

        <tbody>
            <tr>
                <td>Owner</td>
                <td>
                    {{ application.owner }}
                </td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{ application.url }}</td>
            </tr>
            {% if api_key %}
                <tr>
                    <td>API Key</td>
                    <td>{{ api_key }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}