{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'applications:application.list' %}">Applications</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ application.name }}
            </li>
        </ol>
    </nav>

    <h2>View Application - {{ application.name }}</h2>

    {% if application.description %}
        <p>{{ application.description }}</p>
    {% endif %}

    <a href="{% url 'applications:application.update' pk=application.pk %}"
       class="btn btn-success" role="button">Edit</a>
    <a href="{% url 'applications:application.delete' pk=application.pk %}"
       class="btn btn-danger" role="button">Delete</a>

{% endblock %}