{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Applications
            </li>
        </ol>
    </nav>

    <h2>Applications</h2>

    {% if perms.applications.add_application %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <a href="{% url 'applications:application.add' %}"
               class="btn btn-block btn-success" role="button">New Application</a>
        </div>
    </div>
    {% endif %}

    <div class="mt-3"></div>

    <table class="table table-hover">
        <thead class="thead">
            <tr>
                <th class="w-75">Name</th>
                <th class="w-auto">
                    <i class="fas fa-user" aria-hidden="true"></i>
                </th>
                <th class="w-auto">Access</th>
                <th class="w-auto"></th>
            </tr>
        </thead>

        <tbody>
            {% for application in applications %}
            <tr>
                <td>
                    <p>
                        <b>{{ application.name }}</b>
                    </p>
                    <p class="pl-5">
                        {{ application.description|truncatechars:120 }}
                    </p>
                </td>
                <td class="align-middle">
                    {% if application.owner == request.user %}
                        <i class="fas fa-user" aria-hidden="true"
                           data-toggle="tooltip" data-placement="top" title="My application"></i>
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if application.access_control %}
                        <i class="fas fa-lock fa-lg"
                           data-toggle="tooltip" data-placement="top" title="Application has access controls"></i>
                    {% endif %}
                </td>
                <td class="align-middle">
                    <a href="{% url 'applications:application.detail' pk=application.pk %}"
                       class="btn btn-block btn-secondary" role="button">Detail</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>There are no applications currently available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_body %}
    <script type="application/javascript">
        $(function () {
            $("[data-toggle='tooltip']").tooltip()
        })
    </script>
{% endblock %}
