{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                My Profile
            </li>
        </ol>
    </nav>

    <div class="alert alert-warning">
        <b>Inactive Account:</b>
        Your account has not yet been activated - please wait for an admin to approve your request.
    </div>

{% endblock %}