{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                My Profile
            </li>
        </ol>
    </nav>

    <h2>My Profile</h2>

    <table class="table">
        <thead>
        <th scope="col" class="w-25 border-0"></th>
        <th scope="col" class="border-0"></th>
        </thead>

        <tbody>
            {% if user == request.user or request.user.is_superuser %}
                <tr>
                    <td>API Token</td>
                    <td>
                        <script type="application/javascript">
                            function getToken() {
                                $.ajax({
                                    dataType: "json",
                                    url: "{% url 'profiles:token' pk=user.pk %}",
                                    data: null,
                                    success: function (data) {
                                        $('#spanApiToken').text(data.data.token.key);

                                        document.getElementById("spanApiTokenPresent").style.display = "inline";
                                        document.getElementById("spanApiTokenAbsent").style.display = "none";
                                    }
                                });
                            }

                            function revokeToken() {
                                $.ajax({
                                    dataType: "json",
                                    url: "{% url 'profiles:token' pk=user.pk %}",
                                    method: "DELETE",
                                    headers: {
                                        "X-CSRFToken": Cookies.get("csrftoken")
                                    },
                                    data: null,
                                    success: function (data) {
                                        $('#spanApiToken').text("");

                                        document.getElementById("spanApiTokenPresent").style.display = "none";
                                        document.getElementById("spanApiTokenAbsent").style.display = "inline";
                                    }
                                });
                            }
                        </script>

                        <span id="spanApiTokenPresent" {% if not user.auth_token %}style="display: none;"{% endif %}>
                                    <span id="spanApiToken">
                                        {{ user.auth_token }}
                                    </span>

                                    <button onclick="revokeToken();" class="btn btn-danger" role="button">Revoke API Token</button>
                                </span>

                        <span id="spanApiTokenAbsent" {% if user.auth_token %}style="display: none;"{% endif %}>
                                        <button onclick="getToken();" class="btn btn-default" role="button">Generate API Token</button>
                                </span>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}