[uwsgi]
project = pedasi
uid = {{ web_user }}
base = /var/www

chdir = %(base)/%(project)
home = %(chdir)/env
module = %(project).wsgi:application
logto = %(chdir)/pedasi.log

master = true
processes = 2

socket = /run/uwsgi/%(project).sock
chown-socket = %(uid):{{ web_user }}
chmod-socket = 660
vacuum = true
