{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/masthead.css' %}">

    <script type="application/javascript" src="{% static 'js/metadata.js' %}"></script>
{% endblock %}

{% block pre_content %}
    <header class="container-fluid masthead text-white text-left"
            style="background-image: url('{% static 'img/pedasi-hero.jpg' %}')">
        <div class="overlay"></div>

        <div class="row">
            <div class="ml-5 px-4 mt-3 pt-3 textbox-container">
                <h2 class="display-1">PEDASI</h2>
                <p class="lead">IoT Observatory Demonstrator</p>
            </div>
        </div>
    </header>

    <div class="bg-secondary py-3">
        <div class="container text-white">
            <h2>
                A platform for research in data sharing
            </h2>
        </div>
    </div>

    <div class="bg-light py-2">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h2>Find Data Sources</h2>

                            <span class="fas fa-5x fa-atlas"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h2>Access Data</h2>

                            <span class="fas fa-5x fa-cloud-download-alt"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h2>Share Results</h2>

                            <span class="fas fa-5x fa-tablet-alt"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pb-3">
        <div class="row align-items-center">
            <div class="col-sm-8">
                <h2 class="pb-2">About PEDASI</h2>

                <p>
                    This project will address issues related to sharing IoT datasets on a large distributed scale to support
                    innovation in a way that will not compromise privacy and security. The project will identify and address
                    infrastructural, technological and legal issues to that end, and will initiate the deployment of an
                    infrastructure that will enable individuals or organisations to share IoT datasets.
                </p>

                <p>
                    This activity works in synergy with existing initiatives within the Web Science and Internet Science communities.
                    It will provide for accessing IoT datasets already available on the Web and it will aim to host datasets from the
                    experiments of the PETRAS project providing a vehicle for community engagement for the development of analytics
                    and visualisations on those datasets across the PETRAS community and beyond.
                </p>
            </div>

            <div class="col-sm-4">
                <img class="img-fluid py-3" src="{% static 'img/IoT_observatory.png' %}">
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid pt-3 pb-2 mb-3">
        <div class="container">
            <h2>Featured Applications</h2>

            <div class="row px-2">

                {% for application in applications %}
                    <div class="col-md-6 col-lg-4 p-2">
                        <a href="{% url 'applications:application.detail' pk=application.pk %}"
                           class="no-hover" role="button">

                            <div class="card rounded-0 h-100">
                                <img src="{% static 'img/IoT_observatory.png' %}"
                                     class="card-img-top rounded-0 mt-4 mx-auto d-block"
                                     style="width: 150px;">

                                <div class="card-body d-flex flex-column pb-2">
                                    <h5 class="card-title">{{ application.name }}</h5>
                                    <p class="card-text">{{ application.description|truncatechars:120 }}</p>

                                    <p class="card-text text-right mt-auto">
                                        <small class="text-muted">
                                            Last updated X ago
                                        </small>
                                    </p>

                                </div>
                            </div>

                        </a>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>

    <div class="jumbotron jumbotron-fluid pt-3 pb-2">
        <div class="container">
            <h2>Featured Data Sources</h2>

            <div class="row px-2">

                {% for datasource in datasources %}
                    <div class="col-md-6 col-lg-4 p-2">
                        <a href="{% url 'datasources:datasource.detail' pk=datasource.pk %}"
                           class="no-hover" role="button">

                            <div class="card rounded-0 h-100">
                                <img src="{% static 'img/IoT_observatory.png' %}"
                                     class="card-img-top rounded-0 mt-4 mx-auto d-block"
                                     style="width: 150px;">

                                <div class="card-body d-flex flex-column pb-2">
                                    <h5 class="card-title">
                                        {{ datasource.name }}

                                        <span id="qualityLevelBadge{{ datasource.pk }}"
                                              class="badge badge-primary float-right"></span>

                                        <script type="application/javascript">
                                            // TODO Should this be a single function to loop over all data sources?
                                            document.addEventListener("DOMContentLoaded", function () {
                                                updateLevelBadge(
                                                    "{% url 'api:datasource-quality' pk=datasource.pk %}",
                                                    "qualityLevelBadge{{ datasource.pk }}"
                                                );
                                            });
                                        </script>
                                    </h5>
                                    <p class="card-text">{{ datasource.description|truncatechars:120 }}</p>

                                    <p class="card-text text-right mt-auto">
                                        <small class="text-muted">
                                            {{ datasource.external_requests }} recent connection{{ datasource.external_requests|pluralize }}
                                        </small>
                                    </p>

                                </div>
                            </div>

                        </a>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}