{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.list' %}">Data Sources</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.detail' pk=datasource.pk %}">{{ datasource.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Manage Access
            </li>
        </ol>
    </nav>

    <h2>{{ datasource.name }}</h2>

    <hr>

    <table class="table">
        <thead>
            <th scope="col" class="col-md-2 border-0"></th>
            <th scope="col" class="border-0"></th>
        </thead>

        <tbody>
            <tr>
                <td>Owner</td>
                <td>
                    {{ datasource.owner }}
                </td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{ datasource.url }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Access Request</h2>

    {{ permission.user.username }} requests {{ permission.get_requested_display }} permission on this data source

    {% if permission.push_requested %}
        and permission to push data
    {% endif %}

    {% if permission.reason %}
        <div class="alert alert-secondary" role="note">
            <p>
                {{ permission.reason|linebreaks }}
            </p>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <input type="submit" class="btn btn-success" value="Grant">
             <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
        {% endbuttons %}
    </form>

{% endblock %}