{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h2>Login</h2>

    {% if form.errors %}
        <div>&nbsp;</div>
    {% else %}
         <div class="alert alert-warning">Please log in</div>
    {%  endif %}

    <div>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="hidden" name="next" value={{ next }} />
                <input type="submit" class="btn btn-info" value="Log in" />
            {% endbuttons %}
        </form>
    </div>
    <div><a href="{%  url 'profiles:password_reset' %}">Forgotten Username / Password?</a></div>
{% endblock %}