{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.list' %}">Data Sources</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                New
            </li>
        </ol>
    </nav>

    <h2>Create New Data Source</h2>

    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='OK' reset='Cancel' %}{% endbuttons %}
    </form>

{% endblock %}