{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.list' %}">Data Sources</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ datasource.name }}
            </li>
        </ol>
    </nav>

    <h2>View Data Source - {{ datasource.name }}</h2>

    <div class="alert alert-warning">
        You do not have permission to access this resource.

        {% if datasource.users_group_requested in request.user.groups.all %}
            <button id="btn-request-access" disabled
                    class="btn btn-primary" role="button">Access Requested</button>

        {% elif not request.user.is_authenticated %}
            You must be logged in to request access.

        {% else %}
            <button id="btn-request-access" onclick="requestAccess()"
                    class="btn btn-primary" role="button">Request Access</button>

            <script type="application/javascript">
                function requestAccess(){
                    $.ajax({
                        url: '{% url 'datasources:datasource.access.request' pk=datasource.pk %}',
                        headers: {
                            'X-CSRFToken': Cookies.get('csrftoken')
                        },
                        method: 'PUT',
                        success: function(result, status, xhr){
                            const btn = document.getElementById('btn-request-access');
                            btn.textContent = 'Access Requested';
                            btn.disabled = true;
                        }
                    })
                }
            </script>
        {% endif %}
    </div>

    {% if datasource.description %}
        <p>{{ datasource.description }}</p>
    {% endif %}

{% endblock %}