{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.list' %}">Data Sources</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ datasource.name }}
            </li>
        </ol>
    </nav>

    <h2>{{ datasource.name }}</h2>

    {% if datasource.description %}
        <p>{{ datasource.description }}</p>
    {% endif %}

    <table class="table">
        <thead>
            <th scope="col" class="col-md-2 border-0"></th>
            <th scope="col" class="border-0"></th>
        </thead>

        <tbody>
            <tr>
                <td>Owner</td>
                <td>
                    {{ datasource.owner }}
                </td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{ datasource.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{% url 'datasources:datasource.query' pk=datasource.id %}"
       class="btn btn-success" role="link">Query</a>
    <a href="{% url 'datasources:datasource.metadata' pk=datasource.id %}"
       class="btn btn-success" role="link">Metadata</a>

    <a href="{% url 'admin:datasources_datasource_change' datasource.id %}"
       class="btn btn-success" role="button">Edit</a>
    <a href="{% url 'admin:datasources_datasource_delete' datasource.id %}"
       class="btn btn-danger" role="button">Delete</a>
    {% if datasource.access_control %}
        <a href="{% url 'datasources:datasource.manage-access' pk=datasource.pk %}"
           class="btn btn-primary" role="button">Manage Access</a>
    {% endif %}

{% endblock %}