{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Data Sources
            </li>
        </ol>
    </nav>

    <h2>Data Sources</h2>

    <a href="{% url 'admin:datasources_datasource_add' %}"
       class="btn btn-success" role="button">Create Data Source</a>

    <div class="mt-3"></div>

    <table class="table">
        <thead class="thead">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for datasource in datasources %}
            <tr>
                <td>{{ datasource.name }}</td>
                <td>
                    <a href="{% url 'datasources:datasource.detail' pk=datasource.pk %}"
                       class="btn btn-primary" role="button">Detail</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>There are no data sources currently available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}