{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
    {% load static %}

    <script type="application/javascript" src="{% static 'js/metadata.js' %}"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Data Sources
            </li>
        </ol>
    </nav>

    <h2>Data Sources</h2>

    {% if perms.datasources.add_datasource %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <a href="{% url 'datasources:datasource.add' %}"
               class="btn btn-block btn-success" role="button">New Data Source</a>
        </div>
    </div>
    {% endif %}

    <div class="mt-3"></div>

    <table class="table table-hover">
        <thead class="thead">
            <tr>
                <th class="w-75">Name</th>
                <th class="w-auto">
                    <i class="fas fa-user" aria-hidden="true"></i>
                </th>
                <th class="w-auto">Access</th>
                <th class="w-auto"></th>
            </tr>
        </thead>

        <tbody>
            {% for datasource in datasources %}
            <tr>
                <td>
                    <p>
                        <b>{{ datasource.name }}</b>
                        {% if datasource.licence %}
                            <a href="{% url 'datasources:licence.detail' pk=datasource.licence.pk %}"
                               class="badge badge-info"
                               data-toggle="tooltip" data-placement="bottom" title="{{ datasource.licence.name }}">
                                {{ datasource.licence.short_name }}
                            </a>
                        {% else %}
                            <span class="badge badge-warning"
                                  data-toggle="tooltip" data-placement="bottom" title="No Licence">
                                No Licence
                            </span>
                        {% endif %}
                        <span id="qualityLevelBadge{{ datasource.pk }}" class="badge badge-primary"></span>

                        <script type="application/javascript">
                            // TODO Should this be a single function to loop over all data sources?
                            document.addEventListener("DOMContentLoaded", function () {
                                updateLevelBadge(
                                    "{% url 'api:datasource-quality' pk=datasource.pk %}",
                                    "qualityLevelBadge{{ datasource.pk }}"
                                );
                            });
                        </script>
                    </p>
                    <p class="pl-5">
                        {{ datasource.description|truncatechars:120 }}
                    </p>
                </td>
                <td class="align-middle">
                    {% if datasource.owner == request.user %}
                        <i class="fas fa-user" aria-hidden="true"
                           data-toggle="tooltip" data-placement="top" title="My data source"></i>
                    {% endif %}
                </td>
                <td class="align-middle">
                    {# Level 1 is VIEW #}
                    {% if datasource.public_permission_level < 1 %}
                        <i class="fas fa-lock fa-lg"
                           data-toggle="tooltip" data-placement="top" title="Data source has access controls"></i>
                    {% endif %}
                </td>
                <td class="align-middle">
                    <a href="{% url 'datasources:datasource.detail' pk=datasource.pk %}"
                       class="btn btn-block btn-secondary" role="button">Detail</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>There are no data sources currently available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_body %}
    <script type="application/javascript">
        $(function () {
            $("[data-toggle='tooltip']").tooltip()
        })
    </script>
{% endblock %}
