{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.list' %}">Data Sources</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.detail' pk=datasource.pk %}">{{ datasource.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Manage Access
            </li>
        </ol>
    </nav>

    <h2>{{ datasource.name }}</h2>

    <hr>

    <h2>Requests for Access</h2>

    <table id="requested-user-table" class="table">
        <thead class="thead">
            <tr>
                <th>Username</th>
                <th>Requested</th>
                <th>Current</th>
                <th>Push?</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for permission in permissions_requested.all %}
                <tr id="requested-user-{{ permission.user.pk }}">
                    <td>
                        <p>
                            {% if permission.user.application_proxy %}
                                {{ permission.user.application_proxy.name }}
                                <a href="{% url 'applications:application.detail' pk=permission.user.application_proxy.pk %}"
                                   role="button" class="badge badge-info">App</a>
                            {% else %}
                                {{ permission.user.username }}
                            {% endif %}
                        </p>
                        {% if permission.reason %}
                            <div class="alert alert-secondary" role="note">
                                {{ permission.reason }}
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ permission.get_requested_display }}</td>
                    <td>{{ permission.get_granted_display }}</td>
                    <td>
                        {% if permission.push_requested %}
                            <i class="fas fa-upload fa-lg"
                               data-toggle="tooltip" data-placement="top" title="Permission to push data"></i>
                        {% endif %}
                    </td>
                    <td>
                        <button onclick="userGrantAccess({{ permission.user.pk }}, {{ permission.requested }}, {{ permission.push_requested|yesno:'true,false' }})"
                                class="btn btn-success"
                                role="button">Approve</button>
                    </td>
                    <td>
                        <a href="{% url 'datasources:datasource.access.grant' pk=datasource.pk %}?user={{ permission.user_id }}"
                           class="btn btn-info"
                           role="button">Edit</a>
                    </td>
                    <td>
                        <button onclick="userGrantAccess({{ permission.user.pk }}, {{ permission.granted }}, {{ permission.push_granted|yesno:'true,false' }})"
                                class="btn btn-danger"
                                role="button">Reject</button>
                    </td>
                </tr>
            {% empty %}
                <tr><td>No requests</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <hr/>

    <h2>Approved Users</h2>

    <table id="approved-user-table" class="table">
        <thead class="thead">
        <tr>
            <th>Username</th>
            <th>Requested</th>
            <th>Current</th>
            <th>Push?</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for permission in permissions_granted %}
            <tr id="approved-user-{{ permission.user.pk }}">
                <td>
                    {% if permission.user.application_proxy %}
                        {{ permission.user.application_proxy.name }}
                        <a href="{% url 'applications:application.detail' pk=permission.user.application_proxy.pk %}"
                           role="button" class="badge badge-info">App</a>
                    {% else %}
                        {{ permission.user.username }}
                    {% endif %}
                </td>
                <td>{{ permission.get_requested_display }}</td>
                <td>{{ permission.get_granted_display }}</td>
                <td>
                    {% if permission.push_granted %}
                        <i class="fas fa-upload fa-lg"
                           data-toggle="tooltip" data-placement="top" title="Permission to push data"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'datasources:datasource.access.grant' pk=datasource.pk %}?user={{ permission.user_id }}"
                       class="btn btn-info"
                       role="button">Edit</a>
                </td>
                <td>
                    <button onclick="userRemoveAccess({{ permission.user.pk }})"
                            class="btn btn-danger"
                            role="button">Remove</button>
                </td>
            </tr>
        {% empty %}
            <tr><td>No approved users</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="application/javascript">
        function userGrantAccess(userPk, level, push){
            $.post({
                url: '{% url 'datasources:datasource.access.grant' pk=datasource.pk %}',
                data: {
                    'user': userPk,
                    'granted': level,
                    'requested': level,
                    'push_granted': push,
                    'push_requested': push
                },
                headers: {
                    'X-CSRFToken': Cookies.get('csrftoken')
                },
                success: function(result, status, xhr){
                    document.getElementById('requested-user-' + userPk.toString()).remove();

                    // TODO if table is empty add 'table is empty' row
                }
            })
        }

        function userRemoveAccess(userPk){
            $.post({
                url: '{% url 'datasources:datasource.access.grant' pk=datasource.pk %}',
                data: {
                    'user': userPk,
                    'granted': 0,
                    'requested': 0
                },
                headers: {
                    'X-CSRFToken': Cookies.get('csrftoken')
                },
                success: function(result, status, xhr){
                    try {
                        document.getElementById('approved-user-' + userPk.toString()).remove();
                    } catch (err) {}

                    try {
                        document.getElementById('requested-user-' + userPk.toString()).remove();
                    } catch (err) {}

                    // TODO if table is empty add 'table is empty' row
                }
            })
        }
    </script>

{% endblock %}