{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.list' %}">Data Sources</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'datasources:datasource.detail' pk=datasource.pk %}">{{ datasource.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Manage Access
            </li>
        </ol>
    </nav>

    <h2>View Data Source - {{ datasource.name }}</h2>

    {% if datasource.description %}
        <p>{{ datasource.description }}</p>
    {% endif %}

    <hr/>

    <h2>Requests for Access</h2>

    <table class="table">
        <thead class="thead">
            <tr>
                <th>Username</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for user in datasource.users_group_requested.users.all %}
                <tr>
                    <td>user.username</td>
                    <td>
                        <a href="#" class="btn btn-success" role="button">Approve</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger" role="button">Reject</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td>No requests</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <hr/>

    <h2>Approved Users</h2>

    <table class="table">
        <thead class="thead">
        <tr>
            <th>Username</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for user in datasource.users_group.users.all %}
            <tr>
                <td>user.username</td>
                <td>
                    <a href="#" class="btn btn-success" role="button">Approve</a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger" role="button">Reject</a>
                </td>
            </tr>
        {% empty %}
            <tr><td>No approved users</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}